
.sg-example-block {
  border: 1px solid @border-color;
  background-color: @sg-example-bg;
  margin-bottom: 40px;
}

.sg-example-component {
  background-color: @sg-example-bg;
  padding: @sg-example-padding;
}


.sg-example-code {
  padding: 0;
  border: none;
}

.sg-proptable {
  margin-bottom: 40px;
}

.sg-example-code code {
  padding: @sg-example-padding;
}

.sg-propTable td {
  display: flex;
  align-items: center;
}
