
.sg-example-block {
  border: 1px solid @border-color;
  background-color: @sg-example-bg;
  margin-bottom: 40px;
}

.sg-example-component {
  background-color: @sg-example-bg;
  padding: @sg-example-padding;
}


.sg-example-code {
  padding: 0;
  border: none;
}

.sg-proptable {
  margin-bottom: 40px;
}

.sg-example-code code {
  padding: @sg-example-padding;
}

.sg-propTable td {
  display: flex;
  align-items: center;
}

.sg-import-block {
  border: 1px solid @border-color;
  background-color: @sg-example-bg;
  margin-bottom: 20px;
}

.sg-import-heading {
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
  color: @sg-black30;
}

.sg-import-block pre {
  margin: 0;
  padding: 0;
}

.sg-import-block code {
  padding: @sg-example-padding;
  margin: 0;
}

.sg-prop-name {
  color: @sg-fire-color;
}
